.Notifications {
  padding: 1em 3em;
  border: 2px dashed red;
  top: 60px;
  width: fit-content;
  position: absolute;
}
.menuItem {
  text-align: right;
}
.flex {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
}

[data-notification-type="default"] {
  color: blue;
}

[data-notification-type="urgent"] {
  color: red;
}
