#CourseList {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 1px solid #ddd;
  width: 75%;
}

/* Table data cells */
td {
  padding: 10px; /* Padding inside cells */
}

th {
  padding: 10px; /* Padding inside cells */
  border-bottom: 2px solid #ddd; /* Bottom border */
}
